/server_fastify/node_modules
/server_fastify/.env
/server_fastify/dist
/server_fastify/.env
/server_fastify/uploads

/client/node_modules
/client/.env

/client/.pnp.*
/client/.yarn/*
/client/!.yarn/patches
/client/!.yarn/plugins
/client/!.yarn/releases
/client/!.yarn/versions

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
/client/.env*

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts


/server/uploads/*
/server/dist/